body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    padding: 20px;
    width: 430px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
    color: #444;
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.country-select {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    border: none;
}

.add-stores-div {
    padding: 8px;
    background-color: #ddd;
    border-radius: 8px;
}

.subtitle {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}

#favourite-list, #dropdown-list {
    margin-bottom: 15px;
}

.website-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefe;
    padding: 16px 12px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 8px;
}

.website-item .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info {
    width: 100%;
}

.flex-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.limit-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.limit-input {
    width: 100px;
    font-size: 14px;
    text-align: right;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.limit-display {
    font-size: 14px;
    color: #666;
}

.save-btn, .add-btn, .remove-btn {
    font-size: 14px;
    background-color: #ddd;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.save-btn:hover, .add-btn:hover, .remove-btn:hover {
    transform: scale(1.1);
}

.fav-store-name {
    font-size: 18px;
}

.dropdown-btn {
    font-size: 14px;
    color: #000;
    background: #fff;
    padding: 12px;
    border: #ddd 1px solid;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease-in-out;
}

.dropdown-btn:hover {
    background: #ddd;
}

.more-stores {
    display: block;
    padding: 10px;
    margin-top: 10px;
    background-color: #ddd;
    border-radius: 16px;
}

.hidden {
    display: none;
}

.footer {
    margin-top: 40px;
    text-align: center;
}

.github-link {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.github-link:hover {
    text-decoration: underline;
}